$primary-color: #ff0049;
$secondary-color: #002b45;
$terciary-color: #fff1e5;

$white: #ffffff;
$black: #000000;

$gray-100: #f5f5f5;
$gray-300: #dcdcdc;
$gray-600: #c2c2c2;
$gray-900: #767676;

$blue: #3fc2df;
$red: #ef4444;
$yellow: #fcd34d;
$green: #059669;
