@import '../../styles/base.scss';

.input {
  width: 90%;
  border: none;
  outline: none;
}

.input--label {
  color: $secondary-color;
  font-weight: bold;
}

.input--wrapper {
  border: 1px solid $gray-300;
  padding: 5px 10px;
  margin-top: 5px;
  width: 200px;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.input--wrapper svg {
  cursor: pointer;
}

.input__password-strength {
  height: 4px;
}

.input__password-strength-1 {
  width: 33%;
  background-color: $red;
}
.input__password-strength-2 {
  width: 66%;
  background-color: $yellow;
}
.input__password-strength-3 {
  width: 100%;
  background-color: $green;
}
