.step {
  text-align: left;
  font-size: 14px;
}

.step__title {
  margin-bottom: 40px;
}
.step__title-text {
  font-size: 22px;
  margin-bottom: 10px;
}

.step__title-border {
  width: 40px;
  height: 5px;
  background-color: $blue;
}

.step__column-wrapper {
  display: flex;
  justify-content: space-between;
}
.step__column {
  width: 280px;
  text-align: center;
  margin-bottom: 40px;
}
.step__column-img {
  height: 160px;
}

.step__paragraph {
  margin-bottom: 40px;
}
.step__paragraph-title {
  font-size: 16px;
  font-weight: bold;
  color: $secondary-color;
  margin-bottom: 10px;
}

.step__form-password {
  display: flex;
  justify-content: space-between;
  width: 475px;
  margin-top: 30px;
}
.step__form-errors {
  font-size: 12px;
  color: $red;
  margin-bottom: 30px;
}

.step__form-errors ul {
  padding-left: 15px;
}

.step__form-hint {
  margin-bottom: 20px;
}
.step__form-hint .step__paragraph-text {
  margin-bottom: 10px;
}
.step__form-hint .input--wrapper {
  width: 100%;
}
