@import '../../app/styles/base.scss';
@import './steps/Step.scss';

.wizard {
  width: 800px;
  background-color: $white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.wizard__header {
  display: flex;
  justify-content: center;
  background-color: $gray-300;
  padding: 20px 0;
}
.wizard__header-step {
  color: $white;
  background-color: $gray-900;
  border-radius: 50%;
  font-size: 18px;
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 5px;
  margin: 0 20px;
  position: relative;
}

.wizard__header-step--active {
  background-color: $secondary-color;

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid $white;
    top: 40px;
    left: 3px;
  }
}
.wizard__header-step--done {
  background-color: $primary-color;
}

.wizard__step {
  display: flex;
  justify-content: center;
  padding: 20px 60px;
  min-height: 200px;
}

.wizard__footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  border-top: 2px solid $gray-100;
}
