@import '../../styles/base.scss';

.btn {
  font-size: 14px;
  font-weight: bold;
  padding: 15px 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 2px;
}

.btn--default {
  background-color: $secondary-color;
  color: $gray-100;

  &:disabled {
    color: $gray-600;
    background-color: $gray-900;
    cursor: not-allowed;
  }
}
.btn--primary {
  background-color: $primary-color;
  color: $white;
}

.btn--link-primary {
  color: $primary-color;
  padding: 0;

  &:hover {
    text-decoration: underline;
  }
}

.btn--link-secondary {
  color: $secondary-color;
  padding: 0;

  &:hover {
    text-decoration: underline;
  }
}
